.resImg {
  animation: appearAndShrink 2s forwards; /* Animate image */
}

@keyframes appearAndShrink {
  0% {
    opacity: 0; /* Start fully transparent */
    transform: scale(1); /* Start at original size */
  }
  50% {
    opacity: 1; /* Fade in */
  }
  100% {
    opacity: 0; /* Fade out */
    transform: scale(0); /* Shrink to nothing */
    display: none; /* hidden after animation, make room for the text, so that text can be displayed in the same position */
  }
}

.resMsg {
  opacity: 0; /* Start fully transparent */
  transform: scale(0); /* Start with nothing */
  animation: zoomOut 2s forwards 2s; /* Delay to start 1s after image animation started, as image nearly gone, comes the text */
}

@keyframes zoomOut {
  0% {
    opacity: 0; /* Start fully transparent */
    transform: scale(0); /* Start with nothing */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: scale(1); /* enlarged to normal size */
  }
}
