@keyframes rainbowDash {
  0% {
    border-color: red;
  }
  16% {
    border-color: orange;
  }
  32% {
    border-color: yellow;
  }
  48% {
    border-color: green;
  }
  64% {
    border-color: blue;
  }
  80% {
    border-color: indigo;
  }
  100% {
    border-color: violet;
  }
}
