.msg {
  color: #63b3ed; /* Initial color */
  opacity: 0; /* Start fully transparent */
  transition: color 4s ease-in-out, opacity 1s ease-in-out; /* Transition for both color and opacity */
}

.msg.active {
  color: #ffffff1d; /* Color when active */
  opacity: 1; /* Fully opaque */
}
