.staff {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 16rem;
  grid-template-rows: repeat(17, 14px);
  position: relative;
  pointer-events: none;
  user-select: none;
}

.staffTile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bold;
}

.line {
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.ledger {
  width: 20%;
  margin: 0 auto;
}

.partialStringTop {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
